# Impact of Terrorism on World Development

## Datasets description

[Global Terrorism Database](https://www.kaggle.com/START-UMD/gtd)

This dataset contains information on more than 170,000 terrorit attacks. The Global Terrorism Database (GTD) is an open-source database including information on terrorist events around the world from 1970 through 2016 (with annual updates planned for the future). Unlike many other event databases, the GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 170,000 cases. [Learn more.](http://start.umd.edu/gtd/)


For more precise information about important details like definitions, collection methodoloy and others plese see the [GTD Codebook](http://start.umd.edu/gtd/downloads/Codebook.pdf).


**Format** : CSV &nbsp;&nbsp;&nbsp;&nbsp; **Size** : 29 MB


[World Development Indicators](https://www.kaggle.com/worldbank/world-development-indicators)

The World Development Indicators from the World Bank contain over a thousand annual indicators of economic development from hundreds of countries around the world.

Here's a [list of the available indicators](https://www.kaggle.com/benhamner/indicators-in-data) along with a [list of the available countries](https://www.kaggle.com/benhamner/countries-in-the-wdi-data).


**Format** : SQLITE &nbsp;&nbsp;&nbsp;&nbsp; **Size** : 261 MB

## Data cleaning and merging

### Main data cleaning and merging constraints
Our project main purpose involves to get countries statisitcs from different indicators in relation to period where terrorist attacks occur. In order to do it, we have to our diposal two datasets: one with the different countries indicators which is in a really convenient SQLITE format, and the other which contains terrorist attacks and data related to it (like where it happened, which type of attack it is, ect.). <br />

The first important part to deal with is to clean the datasets and merge them. Indeed, we would like to perform join operations between indicators and terrorist attacks. The main problem to overcome is the lack of "agreed" convention to uniquely identify countries between the two datasets. In the first one, all indicators use alpha3 codes (3 letters codes) to denote the countries. We also have a `Country` table which have the alpha2 code (2 letters) for each country. In the other dataset, the countries are identified using different codes but there wasn't a simple way to use it for merging. Moreover, the name of the countries used are not exactly the same for the two datasets.

### Our solution 
The solution we found was to use the Google Maps API and to send requests to it with the name of the countries coming from the second dataset. This API is robust to country names spelling and can "normalize" them for us by returning the alpha2 code of the country given its name. <br />
Here is the detail of our process:

1\. First, we got the `Country` table from the first dataset into CSV format and the attack dataset (which was already in CSV format) in order to process them easily with pandas. We only need the `Country` table from the frst dataset to perform the cleaning and merging step.


2\. Before normalizing the country names using the Google Map API, we needed to tackle some name ambiguity by hand for the *Republic of the Congo*. Indeed, in the attack dataset, this country is denoted as *People's Republic of the Congo* and the API couln't understand this name. So we replaced occurences of *People's Republic of the Congo* with *Republic of the Congo*. The issue was due to the similarity between the two countries *Congo* and *Republic of the Congo* and so the API couldn't figure out which one was *People's Republic of the Congo*.


3\. After resolving this ambiguity, we found each unique country name in the attacks dataset and we built a mapping going from country names to alpha2 code using the Google Map API. Then, we added a field called `iso_code` to the dataset with the alpha2 code using the mapping.


4\. After that, we had some last issue with some alpha2 code not found by the API, it was for Ireland and Namibia so we added them by hand.


5\. We deleted all attacks for which we had no country indicators: if a country of an attack was not present in the `Country` table, we deleted the row corresponding to this attack.


6\. At this point we were able to join the two datasets using the `Country` table, but since all indicators denote the country by an alpha3 code, we built a mapping going from alpha2 code to alpha3 code and we transformed the `iso_code` field so that it contains alpha3 code instead. If we did not performed this operation, each join we would make in the future would need an extra join to get the alpha3 code of an attack through the `Country` table. Now, we can only have a single join using directly the alpha3 code of the indicators and joining on the `iso_code` of the attacks table.


7\. To conclude, we saved the cleaned attacks dataset and added it to the SQLITE database so we can easily use SQL to query our data.

In [12]:
import json
from urllib.request import urlopen
from urllib.parse import quote_plus
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
from multiprocessing import Pool, cpu_count

import warnings
warnings.filterwarnings('ignore')

In [24]:
# This function take the name of a place on Earth (countries in our case) and make a request            
# to Google Mas API in order to "normalize" the location and get the country code associated.           
# This country code will help to join the terrorist attacks with the country indicators.                
def getplace(place):                                                                                    
    # Google Maps API base URL                                                                          
    url = "https://maps.googleapis.com/maps/api/geocode/json?"                                          
    # Add the parameters to the base URL                                                                
    url += "address=%s&sensor=false&key=AIzaSyAk90LdWroCWnkWwOVEB_89kAzz1uPCwo0" % (quote_plus(place))  
    v = urlopen(url).read()
    j = json.loads(v)                                                                                   
    try:                                                                                                
        components = j['results'][0]['address_components']                                              
        long = short = None                                                                             
        for c in components:                                                                            
            if "country" in c['types']:                                                                 
                long = c['long_name']                                                                   
                short = c['short_name']                                                                 
        return long, short                                                                              
    except:                                                                                             
        # print('-------------', place)                                                                   
        return None, None 
    
    
# Function that creates that normalize location in order to build a mapping which goes from             
# location to country codes.                                                                             
def mapping(n):                                                                                         
    return n, getplace(n)[1]

In [ ]:
# Data folder path
data_path = '../data/'
# Get the number of cores available for parallelization
n_cores = cpu_count()

attacks = pd.read_csv(data_path + './globalterrorismdb_0617dist.csv', encoding="ISO-8859-1")
countries = pd.read_csv(data_path + './Country.csv')
# Treat Congo names ambiguity
attacks.loc[attacks.country_txt.str.contains('People\'s Republic of the Congo'),
        'country_txt'] = 'Republic of the Congo'
# Get all unique names
all_names = attacks.country_txt.unique()
# Create a mapping from country names to alpha2 country codes
pool = Pool(n_cores)
name_to_code = tqdm_notebook(pool.imap_unordered(mapping, all_names),
        total=all_names.size, desc='API calls')
name_to_code = {k: v for k,v in name_to_code}
# Add field with isocode
attacks['iso_code'] = attacks.country_txt.apply(lambda x: name_to_code[x])
# Treat special country with no match for iso_code
attacks.loc[attacks.country_txt == 'Ireland','iso_code'] = 'IE'
attacks.loc[attacks.country_txt == 'Namibia','iso_code'] = 'NA'
# Delete attacks where no country indicators are available
countries.loc[countries.CountryCode=='NAM', 'Alpha2Code'] = 'NA'
countries.loc[countries.CountryCode=='KSV', 'Alpha2Code'] = 'XK'
attacks = attacks[attacks.iso_code.isin(countries.Alpha2Code)]
# Build a mapping from alpha2 country codes to alpha3 country codes 
alpha2_to_alpha3 = countries[['Alpha2Code', 'CountryCode']]
alpha2_to_alpha3 = dict(alpha2_to_alpha3.apply(lambda x: (x.Alpha2Code, x.CountryCode),
    axis=1).values)
# Transform the iso_code field with the precedingly created mapping to get alpha3 code
attacks.iso_code = attacks.iso_code.apply(lambda iso: alpha2_to_alpha3[iso])
# Save dataframe
attacks.to_csv(data_path + 'attacks_cleaned.csv')

## Data exploration

In [9]:
import pandas as pd
import sqlite3

connection = sqlite3.connect("../api/data/database.sqlite")
attacks = pd.read_sql_query("SELECT * FROM Attacks", connection)
attacks.head()

,,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,...,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,iso_code
0,0,197000000001,1970,7,2,,0,,58,Dominican Republic,...,,,,PGIS,0,0,0,0,,DOM
1,1,197000000002,1970,0,0,,0,,130,Mexico,...,,,,PGIS,0,1,1,1,,MEX
2,2,197001000001,1970,1,0,,0,,160,Philippines,...,,,,PGIS,-9,-9,1,1,,PHL
3,3,197001000002,1970,1,0,,0,,78,Greece,...,,,,PGIS,-9,-9,1,1,,GRC
4,4,197001000003,1970,1,0,,0,,101,Japan,...,,,,PGIS,-9,-9,1,1,,JPN

In [10]:
# List of all headers from the Attack table
list(attacks)

['',
 'eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gname',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'individual',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related',
 'iso_code']

#### Examples of data analysis for USA

In [11]:
attack_types_USA = pd.read_sql_query('SELECT attacktype1_txt, num_attacks FROM (SELECT attacktype1_txt, COUNT(attacktype1_txt) num_attacks FROM Attacks WHERE iso_code="USA" GROUP BY attacktype1_txt) ORDER BY num_attacks DESC', connection)
attack_types_USA

                       attacktype1_txt  num_attacks
0                    Bombing/Explosion         1525
1       Facility/Infrastructure Attack          847
2                        Armed Assault          319
3                        Assassination          163
4  Hostage Taking (Barricade Incident)           59
5                      Unarmed Assault           59
6          Hostage Taking (Kidnapping)           44
7                            Hijacking           22
8                              Unknown           15

In [12]:
attack_targets_USA = pd.read_sql_query('SELECT targtype1_txt, num_attacks FROM (SELECT targtype1_txt, COUNT(targtype1_txt) num_attacks FROM Attacks WHERE iso_code="USA" GROUP BY targtype1_txt) ORDER BY num_attacks DESC', connection)
attack_targets_USA

                     targtype1_txt  num_attacks
0                         Business          779
1             Government (General)          384
2      Private Citizens & Property          367
3                 Abortion Related          253
4                         Military          223
5                           Police          207
6          Educational Institution          171
7          Government (Diplomatic)          162
8   Religious Figures/Institutions          132
9                        Utilities           95
10             Journalists & Media           63
11             Airports & Aircraft           58
12                  Transportation           51
13                             NGO           33
14    Terrorists/Non-State Militia           17
15               Telecommunication           13
16                         Unknown           13
17                        Tourists            9
18                        Maritime            8
19            Food or Water Supply            7
20         Violent Political Party            6
21                           Other            2

In [13]:
attack_perpetrators_USA = pd.read_sql_query('SELECT gname, num_attacks FROM (SELECT gname, COUNT(gname) num_attacks FROM Attacks WHERE iso_code="USA" GROUP BY gname) ORDER BY num_attacks DESC', connection)
attack_perpetrators_USA

                                                 gname  num_attacks
0                                              Unknown          776
1                             Anti-Abortion extremists          198
2                                  Left-Wing Militants          169
3        Fuerzas Armadas de Liberacion Nacional (FALN)          120
4                    New World Liberation Front (NWLF)           86
5                                   Black Nationalists           82
6                                     White extremists           79
7                        Animal Liberation Front (ALF)           75
8                          Jewish Defense League (JDL)           74
9                                     Student Radicals           71
10                        Earth Liberation Front (ELF)           66
11                                             Omega-7           54
12                     Weather Underground, Weathermen           45
13                                          Macheteros           37
14                               Black Liberation Army           36
15                          Anti-Government extremists           33
16                            Chicano Liberation Front           31
17    Armed Revolutionary Independence Movement (MIRA)           30
18                          United Freedom Front (UFF)           29
19                           Puerto Rican Nationalists           26
20                          Jihadi-inspired extremists           25
21                                      Black Panthers           24
22                                            Strikers           23
23                                        Ku Klux Klan           22
24                                         Army of God           21
25                                        Cuban Exiles           21
26                              George Jackson Brigade           20
27                              May 19 Communist Order           20
28                                       Zebra killers           20
29                              Anti-Muslim extremists           19
..                                                 ...          ...
223                         Pro-LGBT Rights extremists            1
224                                          Qaddaffis            1
225                                ROSADO-SOTO Command            1
226    Rebels backing deposed Pres. Zviad Gamsakhurdia            1
227                                         Regulators            1
228                                  Republic of Texas            1
229                               Revenge of the Trees            1
230       Revolutionary Communist Youth Brigade (RCYB)            1
231                      Revolutionary Labor Commandos            1
232                           Seattle Liberation Front            1
233                                        Separatists            1
234                               Serbian Nationalists            1
235                                Sons of the Gestapo            1
236                          South Ossetian Extremists            1
237                             Stop the War Coalition            1
238                          Students For Insurrection            1
239                       Supporters of Charles Manson            1
240                    Tehrik-i-Taliban Pakistan (TTP)            1
241                  The Jewish Execution with Silence            1
242  The World United Formosans for Independence (W...            1
243                                    Thunder of Zion            1
244                                       Tribal Thumb            1
245                                United Aryan Empire            1
246                          United Jewish Underground            1
247                                   Welsh Extremists            1
248                                White Panther Party            1
249         Worldwide Organization of Native Taiwanese            1
250                                         Young Cuba            1
251                                  Youth of the Star            1
252                                          Zviadists            1

[253 rows x 2 columns]